.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-nav-list,
.address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.svg-burger {
  display: block;
  fill: #2f2f37;
}

@media (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* burger mobile menu */

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.burger-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-nav {
  margin-bottom: auto;
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.burger-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.burger-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-socials-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.burger-socials-item {
  width: 40px;
  height: 40px;
}

.burger-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-svg {
  fill: #f4f4fd;
}

.burger-nav-link:hover,
.burger-nav-link:focus,
.burger-address-link:hover,
.burger-address-link:focus {
  color: #404bbf;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* region main-banner */

.main-section-bunner {
  background-color: #2e2f42;
  width: 320px;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  /* padding: 188px 0; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-offise-mobile.jpg);
}
@media (min-resolution: 192dpi) {
  .main-section-bunner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-offise-mobile2x.jpg);
  }
}
/* }
@media screen and (min-width: 768px) {
  .main-section-bunner {
    width: 678px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgtab.jpg);
  }
}
@media (min-resolution: 192dpi) {
  .main-section-bunner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/Dark-bgtab2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .main-section-bunner {
    width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.png);
  }
}
@media (min-resolution: 192dpi) {
  .main-section-bunner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop2x.png);
  }
} */

.bunner-text {
  /* margin-right: auto;
  margin-left: auto; */
  padding: 72px 52px;
  /* margin-bottom: 48px; */
  max-width: 496px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  display: block;
  border: none;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  font-family: inherit;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* second section advantages */

.main-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 96px 0;
  margin-bottom: 0;
}

.advantages-box-image {
  display: none;
}

.advantages-item {
  width: 100%;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) {
  .main-advantages {
    gap: 64px 24px;
  }
  .advantages-item {
    flex-basis: calc((100% - 3 * 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .advantages-box-image {
    display: flex;
  }
  .main-advantages {
    flex-wrap: nowrap;
    gap: 24px;
    padding: 120px 0;
  }
  .advantages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }
  .advantages-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

/*  third section our team */

.main-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
  height: 428px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 0 12px 0 12px;
}
.team-dascription {
  padding: 32px 16px;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.link-svg {
  fill: #f4f4fd;
}

@media (min-width: 768px) {
  .team-container {
    padding-left: 92px;
    padding-right: 92px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    padding: 0 16px 0 16px;
  }
  /* .team-item {
    flex-basis: calc((100% - 3 * 24px) / 2);
  } */
}

@media (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
/* fourth section portfolio */
.box-text-paragraph {
  display: none;
}
.main-portfolio {
  padding: 96px 0;
}
.portfolio-item {
  margin-bottom: 48px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */
.portfolio-variation {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    margin-bottom: 0;
  }
}
@media (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    box-shadow: none;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-box-images {
    position: relative;
    overflow: hidden;
  }

  .box-text-paragraph {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
  }

  .portfolio-item:hover .box-text-paragraph {
    transform: translateY(0%);
  }
}

/* fifth section footer */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
/* .footer-logo {
  display: inline-block;
  margin-bottom: 16px;

} */

.footer-inform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  margin-bottom: 72px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}
.footer-socials-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-email {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-text-subscibe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-subscibe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.footer-form-emaill {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  gap: 16px;
}

.modal-svg-icon-sub {
  margin-left: 16px;
}
.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* cursor: pointer; */
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

@media (min-width: 768px) {
}
